---
import '../styles/global.css'
---
<div class='sidebar-style'>
    <div class='subsidebar-style'> 
        <a href="/admin">Charts</a>
        <a href="">PowerBi</a>
        <a href="/admin/restaurants">Restaurants</a>
        <a href="/admin/products">Products</a>
        <a href="/admin/orders">Orders</a>
        <a href="/admin/reviews">Reviews</a>
        <a href="/admin/users">Users</a>
    </div>
</div>
