---
import '../styles/global.css'
---
<div class='sidebar-style'>
    <div> 
        <a href="/">Inicio</a>
        <a href="/restaurants">Restaurants</a>
        <a href="/sales">Sales</a>
        <a href="orders">My Orders</a>
    </div>
    <a href="/profile">Profile</a>
</div>
